* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg6.png);
}

.body {
    width: 80%;
    margin: auto;
}

li a:hover {
    color: red;
}

.home a {
    color: red;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: black;
}

.nav-links a {
    color: black;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    border-radius: 5px;
}

.menu li {
    padding: 5px 14px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.header {
    font-size: 40px;
}

.line {
    width: 60px;
    height: 3px;
    background-color: #D23232;
    margin-top: 30px;
}

.pictures {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.image {
    width: 100%;
}

.imgline {
    width: 60px;
    height: 2px;
    background-color: #D23232;
    margin-top: 10px;
}

.form {
    display: flex;
    align-items: center;
}

.form button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 40px;
}

.text {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text1 {
    margin-top: 60px;
}

.text2 {
    margin-top: 60px;
    margin-left: 40px;
}

ul li {
    margin-top: 10px;
}

.textline p {
    width: 50%;
}

.footer {
    background-color: rgb(51, 51, 51);
    height: 100px;
    width: 100%;
    font-size: 20px;
    text-align: start;
    color: white;
}

.footer p {
    padding-top: 40px;
    padding-left: 100px;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    a h2 {
        font-size: 18px;
    }
    .container {
        margin-top: 210px;
    }
    .menu li:hover {
        display: inline-block;
        background-color: white;
    }
    .menu li+li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .footer {
        font-size: 15px;
    }
}